:root {
  --color--white: #fff;
  --color--black: #000;
  --color--blue: #00f;
  --primary--color: yellow;
  --secodary--color: green;
  --border: 1px solid var(--color--black);
  --input-height: 42px;
  --container-width: 500px;
  --container-padding-width: 20px;
  --border-radius: 5px ;
}

.h1 {
  color: var(--primary--color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a0d5d5;
}

button {
  background-color: blue;
}

.color {
  color: blue;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
  max-width: calc(var(--container-width) + var(--container-padding-width) * 2);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn {
  background-color: green;
  color: yellow;
  font-size: 30px;
  padding: 10px;
}
.btn:hover {
  background-color: aqua;
}

@media (max-width: 768px) {
  body {
    background-color: red;
  }
}
.banner {
  text-transform: uppercase;
  color: #000;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
}

.banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(10px, 1.56vw, 30px);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  line-height: 127%;
}

.banner-info::before {
  font-size: clamp(60px, 10.1vw, 194px);
  content: "";
  width: 194px;
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("./img/img.svg") center/contain no-repeat;
}

.title {
  font-size: clamp(60px, 18.75vw, 360px);
  line-height: 1;
}